"*":
  core:
    audioBeep: false
    disabledPackages: [
      "atom-typescript"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 11
    preferredLineLength: 100
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "0794b1e0-dcff-4100-9824-3f2af6cb6517"
  "flow-ide": {}
  "linter-ui-default":
    panelHeight: 384
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions:
      prettierLast: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
